@import "bootstrap";
@import "responsive";
@import "jquery-ui-slider";
@import "jquery-ui-slider-extras";

.container-fluid {
  max-width: 1160px;
  margin: 0 auto;
}
.navbar-fixed-top {
  margin-bottom: 0;
}

@media (max-width: @navbarCollapseWidth) {
  #main-wrapper {
    margin-top: 0;
  }
}
@wrapperMinWidthForMagin: @navbarCollapseWidth + 1px;

@media (min-width: @wrapperMinWidthForMagin) {
  #main-wrapper {
    margin: @navbarHeight 0 0 0;
  }
}

#recommend {
  #sidebar {
    min-height: 350px;
  }
  ul#select li {
    cursor: pointer;
  }

  #game-params {
    .param {
      overflow: hidden;
    }
  }
}

#expert-select {
  .game {
    cursor: pointer;
    background: #eee;
    border: 2px solid #ddd;
    .border-radius(12px);
    padding: 24px 16px 2px;
    margin-bottom: @gridGutterWidth;
    text-align: center;

    img {
      .img-polaroid;
    }

    @selectBlue: lighten(desaturate(@blue, 20%), 45%);

    &.selected {
      background-color: @selectBlue;
      border-color: darken(@selectBlue, 7%);
      text-shadow: 1px 1px 1px @grayLighter;
    }
  }

}

#expert-choices {
  .hero-unit {
    .clearfix;
    a.btn {
      float: right;
    }
  }
}

.btn-group.tri-state .btn.option {
  width: 170px;
}

.players, .length, .tags {
  clear: left;
}

.selection {
  float: left;
  height: 84px;
  width: 100px;

  label {
    cursor: pointer;
  }

  .icon {
    height: 64px;
    width: 64px;
    margin: 0 auto;
  }

  .icon.player {
    background: url("/img/player_icon.png") no-repeat;
  }

  .icon.player.active {
    background: url("/img/player_icon_selected.png") no-repeat;
  }

  .icon.time {
    background: url("/img/hourglass.png") no-repeat;
    width: 44px;
  }
  .icon.time.active {
    background: url("/img/hourglass_selected.png") no-repeat;
  }


  input[type="checkbox"] {
    display: none;
  }

  .bottom-label {
    text-align: center;
  }
}

.form-inline {
  margin: 0;
}

ol.row-fluid, ol.row {
  padding: 0;
  margin: 0;
}

.hero-unit.small {
  padding: 20px;
  margin-bottom: 10px;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
  }
}

footer#footer {
  margin-top: 25px;
  text-align: center;
}

.alert {
  margin-top: 20px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.game-name {
  font-size: 24pt;
  line-height: 20pt;
  margin-bottom: 10px;
}

.query-params {
  li {
   float: left;
   display: block; 
   margin-left: 30px;
  }
}

td.name {
  width: 250px;
}

td.why {
  width: 200px;
}
